body {
background:linear-gradient(280deg,#C29C6D,#C8AD7F,#c6c5c8);
  
}
 

.header {
background-color: black; 
 
color:Silver;     margin: -19px -19px -20px -19px;  font-family: Arial ,Helvetica,sans-serif; z-index: -200; padding-bottom: 15px; 
}


.gloeilamp { 
display: block;
margin: auto auto auto auto;
 filter: brightness(110%)saturation(100%) contrast(100%) opacity(75%); z-index: -100;
}


.Deel 
{
padding :5px 5px 5px 5px Gold;  height: 25px; width: 6%; background-color:Black; 
color: gold;  font-style :  italic;  font-size: 10px;
  border-radius: 10px;    font-family: Arial ,Helvetica,sans-serif;
text-align: center; height: 35px; width: 80px; 
display: block; z-index: 0;
margin: auto auto auto auto;
}



.sunny  {    width: 90px;  height: 90px;filter: brightness(110%) saturate(110%) contrast(110%) opacity(75%); transform: rotate(5deg); z-index: -200; display: block; margin: auto auto auto auto;
}


.red   {  color: #FF0000; z-index: 50;
}


.yellow  {

color: yellow; z-index: 100;
}


.silver  {

color: gray;
}








.Login {
padding: 6px 6px 6px 6px;
height: 40px; width :70px; background: linear-gradient(45deg,#FF00FF,#FF66FF,#FF99FF); color : #00FFFF; 
border-radius: 30px 30px 30px 30px;  font-size: 15px; border: solid black 1px;
font-weight: italic; display: block; margin: auto auto auto auto;
}


.media  {    width: 120px;  height:120px;filter: brightness(110%) saturate(115%) contrast(110%) opacity(100%); transform: rotate(0deg); z-index: -200; display: block; margin: auto auto auto auto;
}









.grid-container  {
display: grid; 
gap: 2px;
}

.footer  {
display: flex;  z-index:100;
grid-column: span 2; 
}

.item  {  
font-size: 10px; 
 padding: 20px;
margin: -10px -10px -10px -10px;
text-align: center; background-color: transparent;
}


#luister {   width:100px; height: 30px; border-radius: 5px;
   z-index: -300; float: right; margin-left: 30px; transform:rotate(1deg);
 filter:brightness(102%) saturation(105%) contrast(120%) opacity(55%); 
}


#bull { 
height: 30px; width: 40px;
filter:brightness(110%)contrast(115%)saturate(110%) opacity(70%);
border-radius: 5px;
z-index: -100;
}

.inch  {
color: crimson; z-index: 200;
}


h5  {  font-size: 25px; color: white; font-family: Arial ,Helvetica,sans-serif; text-align: center; z-index: -200; 

}


h2  {  font-size: 25px; color: white; font-family: Arial ,Helvetica,sans-serif; text-align: center; z-index: -200; 

}

p  {  font-size: 20px; color: white; font-family: Arial ,Helvetica,sans-serif; text-align: center; z-index: -200; 

}


.now-playing   {
display: none;
}

.moon  {    width: 75px;  height: 75px;filter: brightness(110%) saturate(110%) contrast(110%) opacity(60%); transform: rotate(5deg); z-index: -200;display: block; margin:  auto auto auto auto;
}



.show {display: block;


}


.menu  {  width: 50px; height: 50px; 
}


#mimo {   width:100px; height: 40px; border-radius: 5px; transform:rotate(-1deg);
   z-index: -300; float: right; margin-top: 50px; 
 filter:brightness(102%) saturation(105%) contrast(120%) opacity(55%); margin-left: -80px;
}


.topnav {
  overflow: hidden;
  background-color: #333; border: solid 1px #FF0000;

  position: relative;  margin: -9px -9px -9px -9px;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: #FF0000;
   padding: 25px 14px 15px   10px;
  text-decoration: none;
  font-size: 17px; z-index: 200;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0; 
  top: 0;
}



/* Style the active link (or home/logo) */
.active {
  background: linear-gradient(45deg,#333333,#000000);
  color: white; margin-bottom: -10px;
}


#kvms {   width:140px; height: 25px; border-radius: 5px; transform:rotate(4deg);
   z-index: -300; float: right; margin-top: 100px; 
 filter:brightness(102%) saturation(105%) contrast(120%) opacity(55%); margin-left: -250px;
}



.blue {   color: #FF0000; z-index: 200; 
}


.dark {  color: #3366FF;
}




li:hover {
  color:#FF99FF;

}


.ham  {    width: 40px;  height: 40px; filter: brightness(110%) saturate(110%) contrast(110%) opacity(70%); transform: rotate(0deg); z-index: -200; margin-bottom: -22px; margin-right: 8px;margin-top: -11px; color: white;
}

#logo  {    width: 120px;  height: 90px;filter: brightness(125%) saturate(115%) contrast(120%) opacity(70%); transform: rotate(0deg); z-index: -200; margin-top: -16px;margin-bottom: -38px;margin-left: 8px;  border-radius: 5px;
}
.star  {    width: 55px;  height: 45px;filter: brightness(115%) saturate(115%) contrast(115%) opacity(70%); transform: rotate(0deg); z-index: -200; float: right;
margin-bottom: 0px; margin-top: -60px; margin-right: 10px;


}

#classic  {    width: 130px;  height: 130px;filter: brightness(130%) saturate(115%) contrast(125%) opacity(65%); transform: rotate(-1deg); z-index: -200; margin-top: -24px;margin-bottom: -36px;margin-left: 22px;  border-radius: 5px;


}

#dance  {    width: 255px;  height: 150px;filter: brightness(130%) saturate(115%) contrast(125%) opacity(65%); transform: rotate(1deg);  margin: auto auto auto auto; display: block; z-index: 200; border-radius: 5px; border: solid 1px #FF0000;
animation: blinker 1s step-start infinite;

}


@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#rock   {    width: 145px;  height: 145px;filter: brightness(130%) saturate(115%) contrast(125%) opacity(65%); transform: rotate(-1deg); z-index: -200; float : right;  border-radius: 5px; margin-right: 20px;
}
 .licht  {    width: 25px;  height: 25px;filter: brightness(125%) saturate(115%) contrast(120%) opacity(60%); transform: rotate(40deg); z-index: -200; margin: -38px auto 10px  auto; display: block; border-radius: 5px;
}

.school   {  width: 151px; height: 105px;  transform:rotate(-10deg);
   z-index: -300; float: right; margin-top: 100px; 
 filter:brightness(110%) saturation(105%) contrast(120%) opacity(55%); margin-left: -250px;

}



.one {  
float: left; margin-left: 20px; z-index: -210; font-size: 20px;
}

.two  {  
display: block; margin: auto auto auto auto; z-index: -210;font-size: 20px;
}

.three {  
float: right; margin-right: 20px;z-index: -210;font-size: 20px;
}

#studio  {  display: block; margin: auto auto auto auto; filter:brightness(120%) saturation(105%) contrast(115%) opacity(75%);width: 355px; height: 235px; margin-left: -5px;border: solid 1px #FF0000;z-index:-200; border-radius:5px;
}

.balk  {  border: solid 2px #FFCC99; background-color: chocolate; z-index: -400; border-radius: 50px;
}


#streep  {  border: solid 1px #FF0000;  z-index: -400; border-radius: 50px;
}




#mid  {    width: 25px;  height: 25px;filter: brightness(125%) saturate(115%) contrast(120%) opacity(60%); transform: rotate(14deg); z-index: -100; margin: -35px auto 10px  auto; display: block; border-radius: 5px;
}

h6  {  font-size: 20px; color: white; font-family: Arial ,Helvetica,sans-serif; text-align: center; z-index: -200; margin-bottom: 9px;

}

#ship  {    width: 80px;  height: 60px; filter: brightness(110%) saturate(110%) contrast(110%) opacity(70%); transform: rotate(0deg); margin-bottom: -22px; margin-right: 8px;margin-top: -11px; color: white;z-index:-100;
}





#marquee {
   background:linear-gradient(280deg,#C29C6D,#C8AD7F);
  width: 250px;border-radius: 5px;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
height: 40px;

}
#marquee span {
  display: inline-block; font-style: italic;
  font-size: 20px;
  position: relative;
  left: 100%;
  animation: marquee 8s linear infinite;

}



#marquee:hover span {
  animation-play-state: paused;
}

#marquee span:nth-child(1) {
  animation-delay: 0s;
}
#marquee span:nth-child(2) {
  animation-delay: 0.8s;
}
#marquee span:nth-child(3) {
  animation-delay: 1.6s;
}
#marquee span:nth-child(4) {
  animation-delay: 2.4s;
}
#marquee span:nth-child(5) {
  animation-delay: 3.2s;
}

@keyframes marquee {
  0%   { left: 100%; }
  100% { left: -100%; }
}






h1 { font-family: Arial ,Helvetica,sans-serif; margin-left: 20px; font-style: italic;
color: white;
}






#sun {

height: 80px; width: 85px; filter: brightness(100%) saturate(110%) contrast(110%) opacity(70%); z-index: -200; transform:rotate(0deg);
}



.black {  
display: block; margin: auto auto auto auto; z-index: -200;
}
