



button {  
background-color: #FFFFFF;
margin-left: 15px; color: black;
margin-bottom: 5px;
font-family: sans-serif;
font-size: 15px; z-index:50;

}




#weather  {

margin-bottom: 0px;

}

#lib {  margin-left: 10px;  font-family: sans-serif; text-decoration: underline;

font-size: 15px;
}