
body  {  
background: linear-gradient(90deg,whitesmoke,#dddddd,#c4c4c4);
}



button {
padding: 5px 5px 5px 5px;
 background: linear-gradient(45deg,crimson,#ed365b,#FF0000); color : #CCCCCC; 
  font-size: 15px; display:block;
 border-radius: 5px;
}


#cont {

height: 70px; width: 75px; filter: brightness(100%) saturate(110%) contrast(110%) opacity(75%); z-index: -200; transform:rotate(40deg); float:right;
}


#disq  {

margin-left:30px; margin-bottom:10px;
}